<div >

	<h1 class="page-header">
		Good Stuff
		<!--                     <small>Secondary Text</small> -->
	</h1>
	<!-- First Blog Post -->
	<h2>
		<a href="axis2.html">Axis2 Webservice</a>
	</h2>
	<p class="lead">
		by <a href="#">Balakrishna</a>
	</p>
	<p>
		<span class="glyphicon glyphicon-time"></span> Posted on December
		17th, 2015 at 10:00 PM
	</p>
	<p>
		In this Example I am going to build a simple student service using
		Maven, I find it hard to find an archetype to generate a maven
		template of axis2 webservice. So I went through <a
			href="https://axis.apache.org/axis2/java/core/docs/quickstartguide.html#introduction"
			target="_blank">Axis2 Start Guide</a> and got the corresponding
		maven plugins to generate wsdl from the POJO classes.....
	</p>
	<a class="btn btn-primary" ui-sref="axis2">Read More <span
		class="glyphicon glyphicon-chevron-right"></span></a>

	<hr>
</div>
